.footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(154, 113, 85, 0.2);
    padding-top:1em;
    padding-bottom:1em;
    border-top:0.1em solid rgb(226, 226, 226);
    align-items: left;
    text-align: center;
}

.ul-footer{
    display:flex;
    padding:0;
}

.li-footer{
    list-style-type:none;
    width:30%;
    color: none;
    text-align: left;
    margin-top: 0.5rem;
    margin-left: 3.5rem;
}

.p-footer{
    margin:0;
    padding:0;
    color:rgb(65, 65, 65);
}

.title-footer{
    font-size:20px;
}
.contact-footer{
    padding-bottom:0.5em;
}

.sociaux{
    display:flex;
    font-size:2.7em;
    justify-content: center;
    justify-items: auto;
    width:40%;
}

a {
    text-decoration: none;
    color: black;
}
a::hovers {
    color: rgb(92, 92, 92);
}

h0 {
    text-align: justify;
    text-decoration: underline;
    text-underline-offset: 5px;
    border-radius: 3px;
}