.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
#dropdown-basic-button{
  color: black;
  background: white;
  border-color: lightsalmon;
  display: flex;
  align-items: start;
  align-items: center;
  margin-left: 35vh;
  margin-top: 3vh;
}
  button{
    display: flex;
  align-items: center;
  background: white;
  border: grey;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @font-face {
      font-family: 'riesling';
    src: url('../assets/fonts/riesling.ttf');
  }
  
  @font-face {
      font-family: 'Vintage';
    src: url('../assets/fonts/Vintage.ttf');
  }
  